.block{
    margin-bottom: 40px;
    padding: 20px 0;

    &__wrapper{
        display: flex;
        flex-direction: column;
    }

    &__title{
        color: #444444;
        font-family: $RobotoCondensed;
        font-weight: 400;
        font-size: 24px;
        margin-top: 0;
    }

    &__row{
        display: flex;
        flex-wrap: wrap;

        .product{
            margin: 10px 21px 10px 0;

            &:last-child{
                margin-right: 0;
            }
        }
    }

    &_grey{
      background-color: #f2f2f2;
    }
}