$Roboto: 'RobotoRegular', sans-serif;
$RobotoCondensed: 'RobotoCondensed', sans-serif;


@font-face {
	font-family: 'RobotoRegular';
	src: url('../../assets/fonts/RobotoRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoCondensed';
	src: url('../../assets/fonts/RobotoCondensed-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

