@import 'settings';

@media screen and (max-width: 1180px){
    .section{
        &__wrapper{
            width: 100%;
        }

    }
   .header{
       &-middle{
           &__wrapper{
               flex-direction: column;
           }

           &__row{
               display: flex;
               align-items: center;
               justify-content: flex-start;
               width: 100%;
           }

           &__search{
               margin-top: 20px;
               width: 100%;
               input{
                   width: 100%;
               }
           }

           &__contacts{
               margin-left: 30px;
           }

           .button__search{
               width: 30%;
           }
       }
   }

   .promo{
       &__row{
           justify-content: center;
       }

       &__slide{
           margin: 0 20px;
       }

       &__block{
           margin-left: 20px;
           margin-right: 20px;
       }
   }

   .advantages{
       &__wrapper{
           justify-content: center;
       }

       &__item{
           margin: 10px;
       }
   }

   .help__item{
       margin-bottom: 20px;
   }

   .hit, .brands, .sellout{
       &__wrapper{
        padding-left: 20px;
       padding-right: 20px;
       }
       
   }

   .review{
       &__row{
           justify-content: flex-start;
       }

       &__block{
           margin-right: 15px;
           margin-bottom: 15px;
       }
   }

   .news{

    &__row{
        justify-content: flex-start;
    }
       &__subcol{
           &:last-child{
               flex-direction: row;
           }
       }

       &__item{
           margin-bottom: 15px;
           margin-right: 15px;
       }
   }
}


@media screen and (max-width: 1080px){
    .header-bottom__wrapper-inner{
        justify-content: center;
        li{
        width: 11%;

        &:nth-child(2){
            width: 15%;
        }
        &:nth-child(3){
            width: 13%;
        }
        }
    }

    .advantages__item{
        width: 49%;
        margin: 5px;
        background-size: cover;
        height: 134px;
    }

    .footer-middle__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .footer-middle__copyright{
        margin-bottom: 10px;
    }

    .footer-top__wrapper {
        flex-direction: column;
    }
    
    .footer-top__adress{
        text-align: center;
    }

    .favorites__menu{
        min-width: 150px;
        padding: 0 0 0 10%;

        span{
            right: 2px;
        }
    }

    .footer-top__r{
        width: 90%;
    }
    
}


@media screen and (max-width: 900px){   
    .advantages__item{
        width: 100%;
        height: 230px;
    }

    .help__row{
        justify-content: center;
    }

    .help__item{
        margin: 5px;
    }

    .review__row{
        justify-content: center;
    }

    .news__row{
        justify-content: center;
    }

    .news__subcol{
        flex-direction: row;
    }

}


@media screen and (max-width: 830px){
    .favorites {
        display: none;
    }

    .footer-bottom{
        margin-bottom: 0;
    }

    .footer-top__contacts, .footer-top__mail, .footer-top__adress{
        width: 30%;
        text-align: center;
    }

    .news {
        display: none;
    }

    .advantages__item{
        height: 211px;
    }

    .advantages__title{
        font-size: 20px;
    }

    .advantages__descr{
        font-size: 18px;
        line-height: 1.3;
    }

    .header-middle, .header-bottom, .nav{
        display: none;
    }
    
    .promo__link{
        display: block;
        font-size: 34px;
        color: #444;
        font-family: $RobotoCondensed;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .promo{
        margin-top: 0;
        padding-top: 20px;
    }

    .header__mob{
        display: flex;
    }
    
    .header__mob-title{
        display: flex;
    }
   
}


@media screen and (max-width: 500px){
    
}


@media screen and (max-width: 400px){
    
}