.footer{    
    &-top{
        background-color: #fafafa;
        border-top: 1px solid #f4f4f4;
        padding: 15px 0px;

        &__wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        a{
            color: #0066cc;
        }

        &__r{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 76%;
        }
        &__contacts{
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;

            li{
                list-style: none;
                padding: 0;
                font-size: 12px;
                color: #444;
                line-height: 16px;
                margin-bottom: 5px;

            }
        }

        &__links{
            display: flex;
        }
        &__social{
            margin-right: 30px;

        }

        &__mail{
            font-size: 12px;
            color: #444;
            line-height: 16px;
            position: relative;
        }

        &__adress{
            font-size: 12px;
            color: #444;
            line-height: 16px;
            max-width: 420px;
        }
    }

    &-middle{
        padding: 15px 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        background-color: #636363;

        &__wrapper{
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            color: #fff;
            font-weight: 300;
            a{
                color: #fff;
            }
        }

        &__menu{
            a{
                margin-right: 30px;

                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
    
    &-bottom{
        background-color: #636363;
        margin-bottom: 50px;


        &__wrapper{
            padding-left: 0;
            padding-right: 0;
            margin-left: 20px;
            margin-right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 13px;
            color: #cecece;
            line-height: 20px;
            font-weight: 300;
            padding: 10px 0 15px 0;
        }
    }
}

.contacts{
    display: none;
    *{
        box-sizing: border-box;
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title{
        font-size: 34px;
        color: #444;
        font-family: $RobotoCondensed;
        margin-bottom: 20px;
    }
    &__col{
        width: 48%;
    }
    &__row{
        display: flex;
        justify-content: space-between;
    }
    a{
        color: #0066cc;
        font-size: 16px;
    }

    span{
        a{
            margin-right: 10px;
        }
        b{
            color: #444;
        }
    }
    &__phone{
        padding-left: 20px;
        position: relative;
        &:before{
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -6px;
            width: 12px;
            height: 12px;
            background: url("../img/header/phone.svg") no-repeat;
        }
        
    
    }

    &__mail{
        &:before{
            background: url("../img/header/adress.svg") no-repeat;

        }
    }
    &__block{
        border: 1px solid #00d148;
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 20px;
        font-size: 14px;
        color: #999;
        display: flex;
        flex-direction: column;

        &_adress{
            padding-left: 40px;
            position: relative;
            &:before{
                content: "";
                position: absolute;
                left: 15px;
                top: 50%;
                width: 20px;
                height: 20px;
                margin-top: -10px;
                background: url("../img/item/location.svg") no-repeat;
            }
        }
    }
    
}

.footer-middle__menu{
    display: flex;
    flex-wrap: wrap;
}